# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# IDE settings
.idea/
.vscode/

# Logs and artifacts
logs/
runs/
outputs/
!runs/.gitkeep

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini

# Dataset Files
coco_dataset
yolov8_dataset
data/processed